.idea/modules.xml
.idea/.name
.idea/encodings.xml
.idea/magicento.xml
.idea/magicento/adminhtml.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/seo-robots-management.iml
.idea/vcs.xml
.idea/workspace.xml