<?xml version="1.0"?>
<config>
    <modules>
        <Valibus_Seo>
            <version>0.0.2</version>
        </Valibus_Seo>
    </modules>
    <global>
        <blocks>
            <valibus_seo>
                <class>Valibus_Seo_Block</class>
            </valibus_seo>
        </blocks>
        <helpers>
            <valibus_seo>
                <class>Valibus_Seo_Helper</class>
            </valibus_seo>
        </helpers>
        <models>
            <valibus_seo>
                <class>Valibus_Seo_Model</class>
            </valibus_seo>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <valibus_seo_observer>
                        <type>singleton</type>
                        <class>valibus_seo/observer</class>
                        <method>editMetas</method>
                    </valibus_seo_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Valibus_Seo>
                    <files>
                        <default>Valibus_Seo.csv</default>
                    </files>
                </Valibus_Seo>
            </modules>
        </translate>
    </adminhtml>
</config>